##### Extract

In [1]:
import pandas as pd
from sqlalchemy import create_engine
!pip install psycopg2-binary
import datetime as dt
import numpy as np

Requirement already satisfied: psycopg2-binary in c:\users\aaron karpie\anaconda3\lib\site-packages (2.8.6)

In [2]:
amc_csv_file = "AMC.csv"
amc_data_df = pd.read_csv(amc_csv_file)

shrimp_csv_file="shrimp-prices.csv"
shrimp_data_df=pd.read_csv(shrimp_csv_file)

In [3]:
amc_data_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-01-01,20.620001,22.000000,19.750000,21.370001,15.369904,7641000
1,2014-02-01,21.500000,22.940001,20.299999,22.889999,16.463131,4650100
2,2014-03-01,22.969999,26.680000,22.299999,24.250000,17.441284,14299500
3,2014-04-01,24.200001,25.139999,21.230000,23.139999,16.642939,6583300
4,2014-05-01,23.090000,24.580000,20.990000,22.670000,16.304897,4521300
...,...,...,...,...,...,...,...
83,2020-12-01,4.430000,4.430000,2.080000,2.120000,2.120000,614042200
84,2021-01-01,2.200000,20.360001,1.910000,13.260000,13.260000,4619495600
85,2021-02-01,17.000000,17.250000,5.260000,8.010000,8.010000,3629496600
86,2021-03-01,8.860000,9.450000,7.500000,8.050000,8.050000,412526500
87,2021-03-05,8.080000,8.270000,7.630000,8.050000,8.050000,59734128

In [4]:
shrimp_data_df

         Month  Price  Change
0     1/1/1991  12.24    0.00
1     2/1/1991  12.90    5.39
2     3/1/1991  13.23    2.56
3     4/1/1991  13.23    0.00
4     5/1/1991  12.68   -3.84
..         ...    ...     ...
356   9/1/2020  11.86   -4.35
357  10/1/2020  11.35   -3.70
358  11/1/2020  11.53    1.59
359  12/1/2020  11.68    1.30
360   1/1/2021  11.75    0.60

[361 rows x 3 columns]

##### Transform

In [5]:
#Shrimp Data Clean up 

shrimp_data_df.rename(columns={'Month':'Date'}, inplace=True)
shrimp_data_df
shrimp_data_df["Date"]=pd.to_datetime(shrimp_data_df["Date"], errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)
shrimp_data_df

shrimp_data_df.rename(columns={'Change':'Percent Change'}, inplace=True)

shrimp_data_df["Percent Change"]=shrimp_data_df["Percent Change"]/100
shrimp_data_df

          Date  Price  Percent Change
0   1991-01-01  12.24          0.0000
1   1991-02-01  12.90          0.0539
2   1991-03-01  13.23          0.0256
3   1991-04-01  13.23          0.0000
4   1991-05-01  12.68         -0.0384
..         ...    ...             ...
356 2020-09-01  11.86         -0.0435
357 2020-10-01  11.35         -0.0370
358 2020-11-01  11.53          0.0159
359 2020-12-01  11.68          0.0130
360 2021-01-01  11.75          0.0060

[361 rows x 3 columns]

In [6]:
#AMC data cleanup
amc_data_df
amc_data_df["Open"].pct_change
amc_data_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-01-01,20.620001,22.000000,19.750000,21.370001,15.369904,7641000
1,2014-02-01,21.500000,22.940001,20.299999,22.889999,16.463131,4650100
2,2014-03-01,22.969999,26.680000,22.299999,24.250000,17.441284,14299500
3,2014-04-01,24.200001,25.139999,21.230000,23.139999,16.642939,6583300
4,2014-05-01,23.090000,24.580000,20.990000,22.670000,16.304897,4521300
...,...,...,...,...,...,...,...
83,2020-12-01,4.430000,4.430000,2.080000,2.120000,2.120000,614042200
84,2021-01-01,2.200000,20.360001,1.910000,13.260000,13.260000,4619495600
85,2021-02-01,17.000000,17.250000,5.260000,8.010000,8.010000,3629496600
86,2021-03-01,8.860000,9.450000,7.500000,8.050000,8.050000,412526500
87,2021-03-05,8.080000,8.270000,7.630000,8.050000,8.050000,59734128

In [7]:
amc_data_df["Open_%_Change"]=amc_data_df["Open"].pct_change()
amc_data_df["High_%_Change"]=amc_data_df["High"].pct_change()
amc_data_df["Low_%_Change"]=amc_data_df["Low"].pct_change()
amc_data_df["Close_%_Change"]=amc_data_df["Close"].pct_change()
amc_data_df["Date"]=pd.to_datetime(amc_data_df["Date"])
amc_data_df

,Date,Open,High,Low,Close,Adj Close,Volume,Open_%_Change,High_%_Change,Low_%_Change,Close_%_Change
0,2014-01-01,20.620001,22.000000,19.750000,21.370001,15.369904,7641000,NaN,NaN,NaN,NaN
1,2014-02-01,21.500000,22.940001,20.299999,22.889999,16.463131,4650100,0.042677,0.042727,0.027848,0.071128
2,2014-03-01,22.969999,26.680000,22.299999,24.250000,17.441284,14299500,0.068372,0.163034,0.098522,0.059415
3,2014-04-01,24.200001,25.139999,21.230000,23.139999,16.642939,6583300,0.053548,-0.057721,-0.047982,-0.045773
4,2014-05-01,23.090000,24.580000,20.990000,22.670000,16.304897,4521300,-0.045868,-0.022275,-0.011305,-0.020311
...,...,...,...,...,...,...,...,...,...,...,...
83,2020-12-01,4.430000,4.430000,2.080000,2.120000,2.120000,614042200,0.926087,-0.114000,-0.014218,-0.503513
84,2021-01-01,2.200000,20.360001,1.910000,13.260000,13.260000,4619495600,-0.503386,3.595937,-0.081731,5.254717
85,2021-02-01,17.000000,17.250000,5.260000,8.010000,8.010000,3629496600,6.727273,-0.152751,1.753927,-0.395928
86,2021-03-01,8.860000,9.450000,7.500000,8.050000,8.050000,412526500,-0.478824,-0.452174,0.425856,0.004994
87,2021-03-05,8.080000,8.270000,7.630000,8.050000,8.050000,59734128,-0.088036,-0.124868,0.017333,0.000000

In [8]:
#Merging the AMC and Shrimp Data
merged_amc_shrimp = pd.merge(shrimp_data_df, amc_data_df, on="Date")
merged_amc_shrimp.rename(columns={'Price':'Shrimp Price (per pound)'}, inplace=True)
merged_amc_shrimp.rename(columns={'Percent Change':'Shrimp Price Percent Change'}, inplace=True)
col=merged_amc_shrimp.columns
merged_amc_shrimp=merged_amc_shrimp[['Date', 'Shrimp Price (per pound)', 'Shrimp Price Percent Change',
       'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
#Removing AMC stock % change columns for simplicity 
merged_amc_shrimp

,Date,Shrimp Price (per pound),Shrimp Price Percent Change,Open,High,Low,Close,Adj Close,Volume
0,2014-01-01,16.93,0.0036,20.620001,22.000000,19.750000,21.370001,15.369904,7641000
1,2014-02-01,16.98,0.0030,21.500000,22.940001,20.299999,22.889999,16.463131,4650100
2,2014-03-01,17.09,0.0065,22.969999,26.680000,22.299999,24.250000,17.441284,14299500
3,2014-04-01,17.66,0.0334,24.200001,25.139999,21.230000,23.139999,16.642939,6583300
4,2014-05-01,17.97,0.0176,23.090000,24.580000,20.990000,22.670000,16.304897,4521300
...,...,...,...,...,...,...,...,...,...
80,2020-09-01,11.86,-0.0435,5.790000,7.710000,4.360000,4.710000,4.710000,142287800
81,2020-10-01,11.35,-0.0370,4.780000,4.800000,2.280000,2.360000,2.360000,250429700
82,2020-11-01,11.53,0.0159,2.300000,5.000000,2.110000,4.270000,4.270000,563346300
83,2020-12-01,11.68,0.0130,4.430000,4.430000,2.080000,2.120000,2.120000,614042200
84,2021-01-01,11.75,0.0060,2.200000,20.360001,1.910000,13.260000,13.260000,4619495600

In [9]:
#Cleaning up AMC 
amc_positive_df=amc_data_df.loc[amc_data_df["Open_%_Change"]>0,["Date", "Open", "Open_%_Change"]]
amc_negative_df=amc_data_df.loc[amc_data_df["Open_%_Change"]<0,["Date", "Open", "Open_%_Change"]]

amc_positive_df
amc_negative_df

         Date       Open  Open_%_Change
4  2014-05-01  23.090000      -0.045868
5  2014-06-01  22.330000      -0.032915
7  2014-08-01  22.680000      -0.090618
9  2014-10-01  23.000000      -0.027484
12 2015-01-01  26.260000      -0.001141
16 2015-05-01  30.250000      -0.144755
17 2015-06-01  28.680000      -0.051901
20 2015-09-01  28.559999      -0.119062
21 2015-10-01  25.240000      -0.116246
23 2015-12-01  25.490000      -0.071064
24 2016-01-01  23.670000      -0.071401
25 2016-02-01  21.660000      -0.084918
30 2016-07-01  27.680000      -0.032168
31 2016-08-01  27.500000      -0.006503
34 2016-11-01  31.600000      -0.007849
37 2017-02-01  33.500000      -0.016153
38 2017-03-01  31.500000      -0.059701
40 2017-05-01  30.450001      -0.043956
41 2017-06-01  22.400000      -0.264368
43 2017-08-01  20.450001      -0.106987
44 2017-09-01  13.200000      -0.354523
46 2017-11-01  14.100000      -0.060000
47 2017-12-01  14.050000      -0.003546
49 2018-02-01  12.800000      -0.157895
51 2018-04-01  13.950000      -0.125392
53 2018-06-01  14.850000      -0.146552
58 2018-11-01  19.260000      -0.062317
59 2018-12-01  13.850000      -0.280893
60 2019-01-01  12.010000      -0.132852
63 2019-04-01  14.950000      -0.045338
65 2019-06-01  11.940000      -0.211881
66 2019-07-01   9.850000      -0.175042
68 2019-09-01  11.190000      -0.043590
69 2019-10-01  10.750000      -0.039321
70 2019-11-01   9.450000      -0.120930
71 2019-12-01   8.240000      -0.128042
72 2020-01-01   7.300000      -0.114078
73 2020-02-01   6.500000      -0.109589
74 2020-03-01   6.310000      -0.029231
75 2020-04-01   3.000000      -0.524564
78 2020-07-01   4.260000      -0.153082
79 2020-08-01   4.050000      -0.049296
81 2020-10-01   4.780000      -0.174439
82 2020-11-01   2.300000      -0.518828
84 2021-01-01   2.200000      -0.503386
86 2021-03-01   8.860000      -0.478824
87 2021-03-05   8.080000      -0.088036

### Load

In [10]:
rds_connection_string = "postgres:postgres@localhost:5433/amc_shrimp_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
engine.table_names()

['amc_positive_open',
 'shrimp_data',
 'merged_data',
 'amc_negative_open',
 'amc_data']

In [12]:
amc_positive_df.to_sql(name='amc_positive_open', con=engine, if_exists='append')

ProgrammingError: (psycopg2.ProgrammingError) incomplete placeholder: '%(' without ')'
[SQL: INSERT INTO amc_positive_open (index, "Date", "Open", "Open_%%_Change") VALUES (%(index)s, %(Date)s, %(Open)s, %(Open_%_Change)s)]
[parameters: ({'index': 1, 'Date': datetime.datetime(2014, 2, 1, 0, 0), 'Open': 21.5, 'Open_%_Change': 0.04267696204282423}, {'index': 2, 'Date': datetime.datetime(2014, 3, 1, 0, 0), 'Open': 22.969998999999998, 'Open_%_Change': 0.06837204651162776}, {'index': 3, 'Date': datetime.datetime(2014, 4, 1, 0, 0), 'Open': 24.200001, 'Open_%_Change': 0.05354819562682622}, {'index': 6, 'Date': datetime.datetime(2014, 7, 1, 0, 0), 'Open': 24.940001000000002, 'Open_%_Change': 0.1168831616659205}, {'index': 8, 'Date': datetime.datetime(2014, 9, 1, 0, 0), 'Open': 23.65, 'Open_%_Change': 0.042768959435625975}, {'index': 10, 'Date': datetime.datetime(2014, 11, 1, 0, 0), 'Open': 25.469998999999998, 'Open_%_Change': 0.10739126086956507}, {'index': 11, 'Date': datetime.datetime(2014, 12, 1, 0, 0), 'Open': 26.290001, 'Open_%_Change': 0.03219481869630236}, {'index': 13, 'Date': datetime.datetime(2015, 2, 1, 0, 0), 'Open': 28.280001000000002, 'Open_%_Change': 0.0769231150038081}  ... displaying 10 of 40 total bound parameter sets ...  {'index': 83, 'Date': datetime.datetime(2020, 12, 1, 0, 0), 'Open': 4.43, 'Open_%_Change': 0.9260869565217391}, {'index': 85, 'Date': datetime.datetime(2021, 2, 1, 0, 0), 'Open': 17.0, 'Open_%_Change': 6.727272727272727})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [13]:
amc_negative_df.to_sql(name='amc_negative_open', con=engine, if_exists='append')

ProgrammingError: (psycopg2.ProgrammingError) incomplete placeholder: '%(' without ')'
[SQL: INSERT INTO amc_negative_open (index, "Date", "Open", "Open_%%_Change") VALUES (%(index)s, %(Date)s, %(Open)s, %(Open_%_Change)s)]
[parameters: ({'index': 4, 'Date': datetime.datetime(2014, 5, 1, 0, 0), 'Open': 23.09, 'Open_%_Change': -0.04586780802199142}, {'index': 5, 'Date': datetime.datetime(2014, 6, 1, 0, 0), 'Open': 22.33, 'Open_%_Change': -0.03291468168038114}, {'index': 7, 'Date': datetime.datetime(2014, 8, 1, 0, 0), 'Open': 22.68, 'Open_%_Change': -0.09061751841950616}, {'index': 9, 'Date': datetime.datetime(2014, 10, 1, 0, 0), 'Open': 23.0, 'Open_%_Change': -0.02748414376321351}, {'index': 12, 'Date': datetime.datetime(2015, 1, 1, 0, 0), 'Open': 26.26, 'Open_%_Change': -0.0011411562898000494}, {'index': 16, 'Date': datetime.datetime(2015, 5, 1, 0, 0), 'Open': 30.25, 'Open_%_Change': -0.14475541828542315}, {'index': 17, 'Date': datetime.datetime(2015, 6, 1, 0, 0), 'Open': 28.68, 'Open_%_Change': -0.05190082644628102}, {'index': 20, 'Date': datetime.datetime(2015, 9, 1, 0, 0), 'Open': 28.559998999999998, 'Open_%_Change': -0.1190622837175993}  ... displaying 10 of 47 total bound parameter sets ...  {'index': 86, 'Date': datetime.datetime(2021, 3, 1, 0, 0), 'Open': 8.86, 'Open_%_Change': -0.47882352941176476}, {'index': 87, 'Date': datetime.datetime(2021, 3, 5, 0, 0), 'Open': 8.08, 'Open_%_Change': -0.08803611738148975})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [14]:
amc_data_df.to_sql(name='amc_data', con=engine, if_exists='append')

ProgrammingError: (psycopg2.ProgrammingError) incomplete placeholder: '%(' without ')'
[SQL: INSERT INTO amc_data (index, "Date", "Open", "High", "Low", "Close", "Adj Close", "Volume", "Open_%%_Change", "High_%%_Change", "Low_%%_Change", "Close_%%_Change") VALUES (%(index)s, %(Date)s, %(Open)s, %(High)s, %(Low)s, %(Close)s, %(Adj Close)s, %(Volume)s, %(Open_%_Change)s, %(High_%_Change)s, %(Low_%_Change)s, %(Close_%_Change)s)]
[parameters: ({'index': 0, 'Date': datetime.datetime(2014, 1, 1, 0, 0), 'Open': 20.620001000000002, 'High': 22.0, 'Low': 19.75, 'Close': 21.370001000000002, 'Adj Close': 15.369904, 'Volume': 7641000, 'Open_%_Change': None, 'High_%_Change': None, 'Low_%_Change': None, 'Close_%_Change': None}, {'index': 1, 'Date': datetime.datetime(2014, 2, 1, 0, 0), 'Open': 21.5, 'High': 22.940001000000002, 'Low': 20.299999, 'Close': 22.889999, 'Adj Close': 16.463131, 'Volume': 4650100, 'Open_%_Change': 0.04267696204282423, 'High_%_Change': 0.042727318181818186, 'Low_%_Change': 0.027848050632911292, 'Close_%_Change': 0.0711276522635631}, {'index': 2, 'Date': datetime.datetime(2014, 3, 1, 0, 0), 'Open': 22.969998999999998, 'High': 26.68, 'Low': 22.299999, 'Close': 24.25, 'Adj Close': 17.441284, 'Volume': 14299500, 'Open_%_Change': 0.06837204651162776, 'High_%_Change': 0.1630339510447274, 'Low_%_Change': 0.0985221723409937, 'Close_%_Change': 0.05941463780754219}, {'index': 3, 'Date': datetime.datetime(2014, 4, 1, 0, 0), 'Open': 24.200001, 'High': 25.139999, 'Low': 21.23, 'Close': 23.139999, 'Adj Close': 16.642939000000002, 'Volume': 6583300, 'Open_%_Change': 0.05354819562682622, 'High_%_Change': -0.057721176911544214, 'Low_%_Change': -0.04798202008887975, 'Close_%_Change': -0.04577323711340209}, {'index': 4, 'Date': datetime.datetime(2014, 5, 1, 0, 0), 'Open': 23.09, 'High': 24.58, 'Low': 20.99, 'Close': 22.67, 'Adj Close': 16.304897, 'Volume': 4521300, 'Open_%_Change': -0.04586780802199142, 'High_%_Change': -0.02227521966090773, 'Low_%_Change': -0.011304757418747147, 'Close_%_Change': -0.020311107187169664}, {'index': 5, 'Date': datetime.datetime(2014, 6, 1, 0, 0), 'Open': 22.33, 'High': 24.950001, 'Low': 22.02, 'Close': 24.870001000000002, 'Adj Close': 17.887201, 'Volume': 4350500, 'Open_%_Change': -0.03291468168038114, 'High_%_Change': 0.015052929210740418, 'Low_%_Change': 0.04907098618389716, 'Close_%_Change': 0.09704459638288498}, {'index': 6, 'Date': datetime.datetime(2014, 7, 1, 0, 0), 'Open': 24.940001000000002, 'High': 25.0, 'Low': 22.09, 'Close': 22.639999, 'Adj Close': 16.428967999999998, 'Volume': 3331000, 'Open_%_Change': 0.1168831616659205, 'High_%_Change': 0.0020039678555523466, 'Low_%_Change': 0.0031789282470482405, 'Close_%_Change': -0.089666341388567}, {'index': 7, 'Date': datetime.datetime(2014, 8, 1, 0, 0), 'Open': 22.68, 'High': 23.969998999999998, 'Low': 22.379998999999998, 'Close': 23.67, 'Adj Close': 17.176405, 'Volume': 2204500, 'Open_%_Change': -0.09061751841950616, 'High_%_Change': -0.041200040000000104, 'Low_%_Change': 0.013128066998641774, 'Close_%_Change': 0.04549474582573976}  ... displaying 10 of 88 total bound parameter sets ...  {'index': 86, 'Date': datetime.datetime(2021, 3, 1, 0, 0), 'Open': 8.86, 'High': 9.45, 'Low': 7.5, 'Close': 8.05, 'Adj Close': 8.05, 'Volume': 412526500, 'Open_%_Change': -0.47882352941176476, 'High_%_Change': -0.4521739130434783, 'Low_%_Change': 0.4258555133079849, 'Close_%_Change': 0.004993757802746579}, {'index': 87, 'Date': datetime.datetime(2021, 3, 5, 0, 0), 'Open': 8.08, 'High': 8.27, 'Low': 7.63, 'Close': 8.05, 'Adj Close': 8.05, 'Volume': 59734128, 'Open_%_Change': -0.08803611738148975, 'High_%_Change': -0.1248677248677248, 'Low_%_Change': 0.017333333333333423, 'Close_%_Change': 0.0})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [15]:
shrimp_data_df.to_sql(name='shrimp_data', con=engine, if_exists='append')

In [16]:
merged_amc_shrimp.to_sql(name='merged_data', con=engine, if_exists='append')

KeyError: 'Shrimp Price (per pound'